[Unit]
Description=Run CloudPanel standby pull on a set interval
Documentation=file:///opt/clp-sync/README.md

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
AccuracySec=1min
Persistent=true
Unit=clp-sync.service

[Install]
WantedBy=timers.target
